<title>Flights</title>

<h1>Flights</h1>

<%#= form_tag(flights_path, method: :get) do %>
  <%#= text_field_tag :search, params[:search]%>
  <%#= submit_tag 'Search', name: nil %>
<%# end %>
<%= form_for :search, method: :get do |f| %>
  <%= f.label :departing_airport %>
  <%= f.collection_select(:departing_airport, Airport.all, :id, :name) %>
<% end %>

<% @flights.each do |flight| %>
  <p>Flight date: </p>
  <%= flight.date %>
  <br>
  <p>Flight duration: </p>
  <%= flight.duration %>
  <br>
  <p>Departing airport: </p>
  <%= flight.from_airport.name %>
  <br>
  <p>Arriving airport: </p>
  <%= flight.to_airport.name %>
  <br>
<% end %>